@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

/* Hide scrollbar but still allow scrolling */
.scrollbar-hide {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563EB;  
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background-color: #2563EB;   /* Tailwind indigo-700 */
}